.card_container .heading_outer {
    font-size: 2.2em;
    color: white;
    padding: .4em 0;
}
.card {
    width: 28em;
    background: white;
    border-radius: 2em;
    color: #2e2e2e;
    padding: 2.5em;
}

