.card_container {
    width: 27em;
}

.card_container .heading_outer {
    font-size: 1.8em;
    color: white;
    padding: 0 0 .4em 0;
}
.card {
    background: white;
    border-radius: 1.4em;
    color: #2e2e2e;
    padding: 2em;
    box-shadow: 3px 3px 3px #2e2e2e60;
    position: relative;
}

.card .header_image {
    display: flex;
    justify-content: right;
    position: absolute;
    right: 0;
    top: -6.4em;
}

.card .header_image img {
    width: 8em;
}
